.item-app{
    display: flex;
}
.item-app .pending-app, .location, .contact{
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
}
.item-app .pending-app{
    background-color: #1CC7C1;
}
.item-app .pending-app h1,p{
    padding: 0 10px;
}
.item-app .icon{
    font-size: 3.5rem;
    margin: 17px 14px;
}
.item-app .location{
    background-color: #3A4256;
}
.item-app .contact{
    background-color: #1CC7C1;
}
.item-app .opening-text{
    margin-top: 20px;
    margin-left: 30px;
}
.item-app .location-text{
    margin-top: 20px;
    margin-left: 5px;
}
.item-app .total-p{
    margin-top: 12%;
}
.item-app .td-app{
    background-color: #F1536E;
}
.item-app .tl-app{
     background-color: #3DA5F4;
}
.item-app .pd-app{
     background-color:  #00C689;
}
.item-app .t-p{
     background-color:  #FDA006;
}
